*.swp
DIST_REVISION
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
configure.lineno
spsid-*.tar.gz
spsid-server.pc
setup_tools/substvars.sh
share/conf_defaults/spsid_config.pl
share/psgi/spsid_jsonrpc.fcgi
share/psgi/spsid_jsonrpc.psgi

