*.swp
DIST_REVISION
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
configure.lineno
spsid-*.tar.gz
setup_tools/substvars.sh
share/conf_defaults/spsid_config.pl
share/psgi/spsid_jsonrpc.psgi

bin/spsid_delete_object
bin/spsid_search
bin/spsid_siam_dump_yaml
bin/spsid_siam_init
bin/spsid_siam_load_yaml
